.sidebarIcon {
    margin-top: 1.5em;
    padding: 0 1em;
    cursor: pointer;
}

.sidebarIcon .tooltiptext {
    visibility: hidden;
    background-color: #595e8a;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.sidebarIcon:hover .tooltiptext {
    visibility: visible;
}

@media screen and (max-width: 880px) {


    .Sidebar {
        display: flex;
        padding-bottom: 1em;

    }
}