.App {
  text-align: center;
  font-family: IBMPlexSans;
}

body {
  height: 100vh;
  overflow: hidden;
}

@media screen and (max-width: 580px) {
  body {
    height: 100vh;
    overflow: scroll;
  }
}